.input {
	outline: none;
	border: none;

	@media all and (max-width: 992px) {
		width: 354px !important;
	}

	@media all and (max-width: 767px) {
		width: 318px !important;
		height: 45px;
	}

	@media all and (max-width: 575px) {
		width: 185px !important;
	}

	&::placeholder {
		color: var(--input-text);
		font-weight: 400;
	}
}
