.button {
	display: inline-block;
	box-sizing: border-box;
	cursor: pointer;
	outline: none;
	font-family: Raleway;
}

.sign {
	border-radius: 10px;
	border: 1px solid var(--course-text);
	padding: 10px 30px;
	// Text
	color: var(--nav-text);
	font-weight: 500;
	font-size: 1.125rem;
	line-height: 115.5%;
	transition: 0.5s;

	&:hover {
		color: var(--white-text);
		background: var(--orange-bg);
		border: 1px solid var(--orange-bg);
		transition: 0.5s;
	}

	@media all and (max-width: 992px) {
		font-size: 1rem;
		padding: 10px 20px;
	}

	@media all and (max-width: 575px) {
		font-size: 0.75rem;
		padding: 8px 18px;
	}
}

.send {
	border-radius: 0px 10px 10px 0px;
	border: 1px solid var(--nav-text);
	padding: 17px 23.5px 20.5px 20px;
	// Text
	color: var(--course-text);
	letter-spacing: 0.02em;
	font-weight: 500;
	font-size: 1.25rem;

	&:hover {
		-webkit-box-shadow: 5px 3px 15px -5px rgba(0, 0, 0, 0.84);
		box-shadow: 5px 3px 15px -5px rgba(0, 0, 0, 0.84);
	}

	@media all and (max-width: 767px) {
		font-size: 0.875rem;
		padding: 14px 13.5px 14px 10px;
		letter-spacing: 0.02em;
	}
}

// Border color
.bb {
	border: 1px solid var(--nav-text);
	background: var(--white-text);
	color: var(--nav-text);
}

.bw {
	border: 1px solid var(--white-text);
	color: var(--white-text);
	background: var(--nav-text);

	&:hover {
		background: var(--white-text);
		border: 1px solid var(--white-text);
		color: var(--black-bg);
	}
}
