.mySwiper {
    width: 96%;
    height: 400px;
    align-items: center;
    padding: 20px;
    @media all and (max-width: 1024px) {
        width: 100% !important;
    }
    @media all and (max-width: 910px) {
        width: 100% !important;
    }
    @media all and (max-width: 575px) {
        width: 100% !important;
        height: 400px;
    }
    @media all and (max-width: 425px) {
        width: 100% !important;
    }
    @media all and (max-width: 375px) {
        width: 100% !important;
    }
    @media all and (max-width: 325px) {
        width: 10px !important;
    }
    .revCard {
        display: flex;
        height: 340px;
        border-radius: 25px;
        padding: 20px 15px;
        box-shadow: 5px 5px 5px #c0c0c1;
        background-color: #f4f4f4;
        @media all and (max-width: 1024px) {
            width: 100% !important;
        }
        @media all and (max-width: 910px) {
            width: 100% !important;
        }
        @media all and (max-width: 575px) {
            width: 100% !important;
        }
        @media all and (max-width: 425px) {
            width: 100% !important;
        }
        @media all and (max-width: 375px) {
            width: 100% !important;
        }
        @media all and (max-width: 325px) {
            width: 10px !important;
        }
        &:hover {
            transition: all .3s ease-out;
            box-shadow: 1px 1px 5px #fe9737;
        }
        .revWrapper {
            width: 400px;
            .revName {
                font-size: 15px;
                span {
                    color: #fe9737;
                }
            }
        }
        .revImg {
            img {
                width: 70px;
            }
        }
        .revText {
            margin: 40px 0;
            font-size: 15px;
            height: 110%;
            // line-height: 20px;
            @media all and (max-width: 1024px) {
                width: 100% !important;
            }
            @media all and (max-width: 910px) {
                width: 100% !important;
            }
            @media all and (max-width: 575px) {
                width: 100% !important;
                font-size: 13px;
                overflow: scroll;
            }
            @media all and (max-width: 425px) {
                width: 100% !important;
            }
            @media all and (max-width: 375px) {
                width: 100% !important;
            }
            @media all and (max-width: 325px) {
                width: 10px !important;
            }
        }
    }
}