.nav__active {
	display: flex;
	gap: 40px;
	align-items: center;
	flex-wrap: wrap;
	list-style: none;

	@media all and (max-width: 770px) {
		display: none;
	}
	@media all and (max-width: 1024px) {
		gap: 20px;
	}

	li,
	a {
		color: var(--nav-text);
		font-size: 1rem;
		line-height: 115.5%;
		font-weight: normal;
		text-decoration: none;
		@media all and (max-width: 1024px) {
			font-size: 1em;
			font-weight: 500;
		}
		&:hover {
			color: #ff7a00;
			transition: .3s ease-in-out;
		}
	}
}
.nav {
	display: flex;
	gap: 40px;
	align-items: center;
	flex-wrap: wrap;
	list-style: none;
	@media all and (max-width: 767px) {
		display: none;
	}

	li {
		cursor: default;
		color: var(--nav-text);
		font-size: 1rem;
		line-height: 115.5%;
		font-weight: normal;
		text-decoration: none;
	}
}
