.language__wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 4rem;
	h4 {
		color: var(--nav-text-color);
		font-size: 1rem;
		font-weight: 600;
		cursor: pointer;
		line-height: 118.75%;
	}

	div {
		border: 1px solid var(--course-text);
		height: 1.5rem;
	}
}
