.teachers {
    text-align: center;
    align-items: center;
    justify-content: center;
    
    h2 {
        letter-spacing: 1px;
        font-size: 2.25rem;
        font-weight: 500;
        height: 50px;
        
    }
    .underSlide {
        border-bottom: 4px solid #ff7a00;
        
    }
}
.mySwiper {
    width: 100%;
    max-width: 1440px;
    // height: 400px;
    align-items: center;
    @media all and (max-width: 1024px) {
        width: 100% !important;
    }
    @media all and (max-width: 910px) {
        width: 100% !important;
    }
    @media all and (max-width: 575px) {
        width: 100% !important;
        // height: 650px;
    }
    @media all and (max-width: 425px) {
        width: 100% !important;
    }
    @media all and (max-width: 375px) {
        width: 100% !important;
    }
    @media all and (max-width: 325px) {
        width: 10px !important;
    }
    .tchWrapper{
        background-color: #f4f4f4;
        padding: 40px 20px;
        border-radius: 15px;
        box-shadow: 5px 5px 5px #e2e2e2;
    }
    .tchCard {
        width: 300px; 
        padding: 40px 60px;
        .tchImg{
            img {
                width: 200px;
                height: 250px;
                border-radius: 25px;
            }
        }
        .tchText {
            ::-webkit-scrollbar{
                width: 5px;
            }
            ::-webkit-scrollbar-button{
            }
            ::-webkit-scrollbar-thumb{
                background-color: #ff7a00;
                border-radius: 25px;
            }
            h3 {
                padding-top: 10px;
                font-weight: 500;
            }
            p {
                height: 300px;
                padding: 10px;
                font-size: 17px;
                font-weight: 300;
                overflow-y: auto;
                @media all and (max-width: 575px) {
                    width: 100% !important;
                    font-size: 16px;
                }
            }
            @media all and (max-width: 1024px) {
                width: 100% !important;
            }
            @media all and (max-width: 910px) {
                width: 100% !important;
            }
            @media all and (max-width: 575px) {
                width: 100% !important;
            }
            @media all and (max-width: 425px) {
                width: 100% !important;
            }
            @media all and (max-width: 375px) {
                width: 100% !important;
            }
            @media all and (max-width: 325px) {
                width: 10px !important;
            }
        }
    }

}