.teachers {
    padding: 20px ;
    text-align: center;
    @media all and (max-width: 1024px) {
        width: 100% !important;
    }
    @media all and (max-width: 910px) {
        width: 100% !important;
    }
    @media all and (max-width: 575px) {
        width: 100% !important;
    }
    @media all and (max-width: 425px) {
        width: 100% !important;
    }
    @media all and (max-width: 375px) {
        width: 100% !important;
    }
    @media all and (max-width: 325px) {
        margin: 0;
    }
    h2 {
        // width: 15%;
        letter-spacing: 1px;
        font-size: 2.25rem;
        font-weight: 500;
        height: 50px;
        @media all and (max-width: 1024px) {
			width: 100% !important;
		}
		@media all and (max-width: 910px) {
			width: 100% !important;
		}
		@media all and (max-width: 575px) {
			width: 100% !important;
		}
		@media all and (max-width: 425px) {
			width: 100% !important;
		}
		@media all and (max-width: 375px) {
			width: 100% !important;
		}
		@media all and (max-width: 325px) {
			margin: 0;
		}
    }
    span {
        border-bottom: 4px solid #ff7a00;
        
    }
    .tchList {
        margin: 30px 0;
        display: grid;
        // padding: 20px 0 ;
        grid-template-columns: 420px 420px 420px ;
        grid-gap: 1em;
        justify-content: center;
        // height: 300px;
        @media all and (max-width: 1024px) {
            // width: 100% !important;
            grid-template-columns: 320px 320px 320px ;
            margin: 0;
            grid-gap: 1rem;
        }
        @media all and (max-width: 910px) {
            width: 100% !important;
            grid-gap: 1rem;
            grid-template-columns: 320px 320px ;
        }
        @media all and (max-width: 575px) {
            width: 100% !important;
        }
        @media all and (max-width: 425px) {
            width: 100% !important;
            grid-template-columns: 350px;
        }
        @media all and (max-width: 375px) {
            width: 100% !important;
        }
        @media all and (max-width: 325px) {
            margin: 0;
        }
        .tchCard {
            // border: 1px solid #dfe0e6;
            box-shadow: 5px 5px 5px #c0c0c1;
            border-radius: 25px;
            background: #f4f4f4;
            width: 300px;
            margin: 0 60px;
            padding: 30px;

            @media all and (max-width: 1024px) {
                width: 270px !important;
                margin: 0 20px;
            }
            @media all and (max-width: 910px) {
                width: 300px !important;
                margin: 0 20px;
            }
            @media all and (max-width: 575px) {
                width: 100% !important;
            }
            @media all and (max-width: 425px) {
                width: 300px !important;
                margin: 0 20px;
            }
            @media all and (max-width: 375px) {
                width: 300px !important;
                margin: 0 20px;
            }
            @media all and (max-width: 325px) {
                width: 10px !important;
            }
            .tchText {
                padding: 10px 0;
                p {
                    padding: 10px 0;
                    text-align: start;
                }
            }
            .tchImg {
                img {
                    border-radius: 10px;
                    width: 200px;
                    @media all and (max-width: 1024px) {
                        width: 100% !important;
                    }
                    @media all and (max-width: 910px) {
                        width: 100% !important;
                    }
                    @media all and (max-width: 575px) {
                        width: 100% !important;
                    }
                    @media all and (max-width: 425px) {
                        width: 200px !important;
                    }
                    @media all and (max-width: 375px) {
                        width: 200px !important;
                    }
                    @media all and (max-width: 325px) {
                        width: 100px !important;
                    }
                }
            }
            &:hover {
                transition: .3s ease-in-out;
                box-shadow: 1px 3px 5px #ff7a00;
            }
        }

    }
}