.mySwiper {
	margin-top: 100px;
	width: 100%;
	height: 650px;
	.ogogo {
		width: 100%;
		height: 750px;
		background: url('../Slide/img/ogogo.jpg') ;
		background-size: cover;
	}
	.process{
		width: 100%;
		height: 700px;
		background: url('../Slide/img/education.jpg') ;
		background-size: cover;
	}
	.study {
		width: 100%;
		height: 700px;
		background: url('../Slide/img/study.jpg') ;
		background-size: cover;
	}
}